<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Anggota</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container clearfix">
        <h1>SI Perpustakaan</h1>

         <div class="sidebar">
            <ul>
                <li><a href="pinjam_data.html">Peminjaman</a></li>
                <li><a href="kembail_data.html">Pengembalian</a></li>
                <li><a href="kategori_data.html">Data Kategori</a></li>
                <li><a href="buku_data.html">Data Buku</a></li>
                <li><a class="active"  href="anggota_data.html">Data Anggota</a></li>
                <li><a href="#" onclick="return confirm('anda yakin akan keluar?')">Logout</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Daftar Anggota</h1>
            <div class="btn-tambah-div">
                <a href="anggota_form.html"><button class="btn btn-tambah">Tambah Data</button></a>
            </div>
            <table class="data">
                <tr>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>JK</th>
                    <th>Telp.</th>
                    <th width="20%">Pilihan</th>
                </tr>

                <tr>
                    <td>Jarjit Singh</td>
                    <td>Jl. Timoho 67</td>
                    <td>Laki-laki</td>
                    <td>089123234345</td>
                    <td>
                        <a href="anggota_form.html" class="btn btn-edit">Edit</a>
                        <a href="#"  onclick="return confirm('anda yakin akan menghapus data?')" class="btn btn-hapus">Hapus</a>
                    </td>
                </tr>

                <tr>
                    <td>Jarjit Singh</td>
                    <td>Jl. Timoho 67</td>
                    <td>Laki-laki</td>
                    <td>089123234345</td>
                    <td>
                        <a href="anggota_form.html" class="btn btn-edit">Edit</a>
                        <a href="#"  onclick="return confirm('anda yakin akan menghapus data?')" class="btn btn-hapus">Hapus</a>
                    </td>
                </tr>

                <tr>
                    <td>Jarjit Singh</td>
                    <td>Jl. Timoho 67</td>
                    <td>Laki-laki</td>
                    <td>089123234345</td>
                    <td>
                        <a href="anggota_form.html" class="btn btn-edit">Edit</a>
                        <a href="#"  onclick="return confirm('anda yakin akan menghapus data?')" class="btn btn-hapus">Hapus</a>
                    </td>
                </tr>

                <tr>
                    <td>Jarjit Singh</td>
                    <td>Jl. Timoho 67</td>
                    <td>Laki-laki</td>
                    <td>089123234345</td>
                    <td>
                        <a href="anggota_form.html" class="btn btn-edit">Edit</a>
                        <a href="#"  onclick="return confirm('anda yakin akan menghapus data?')" class="btn btn-hapus">Hapus</a>
                    </td>
                </tr>

            </table>
        </div>

    </div>
</body>
</html>