<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Buku</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container clearfix">
        <h1>SI Perpustakaan</h1>

         <div class="sidebar">
            <ul>
                <li><a href="pinjam_data.html">Peminjaman</a></li>
                <li><a href="kembail_data.html">Pengembalian</a></li>
                <li><a href="kategori_data.html">Data Kategori</a></li>
                <li><a class="active"  href="buku_data.html">Data Buku</a></li>
                <li><a href="anggota_data.html">Data Anggota</a></li>
                <li><a href="#" onclick="return confirm('anda yakin akan keluar?')">Logout</a></li>
            </ul>
        </div>

        <div class="content">
            <h3>Tambah Data Buku</h3>
            <form method="post">
                <p>Judul</p>
                <p><input type="text" name="judul"></p>

                <p>Kategori</p>
                <p>
                	<select name="kategori">
                		<option value="1">Fiksi</option>
                		<option value="2">Novel</option>
                		<option value="3">Komputer</option>
                		<option value="4">Musik</option>
                	</select>
                </p>

                <p>Deskripsi</p>
                <p><textarea name="deskripsi"></textarea></p>

                <p>Jumlah</p>
                <p><input type="text" name="jumlah"></p>

                <p>Cover</p>
                <p><input type="file" name="cover"></p>

                <p><input type="submit" class="btn btn-submit" value="Simpan"></p>
            </form>
        </div>

    </div>
</body>
</html>